.row {
    height: 33%;
    display: flex;
    width:100%; 
}

.inner {
    width: 20%; 
}
.row1{    
    padding: 20px;
    box-shadow: 2px -3px 5px 14px #6BDDEB;
}
.row2{    
    padding: 20px;
    box-shadow: 2px -3px 5px 14px#52C5D9;
}
.row3{    
    padding: 20px;
    box-shadow: 2px -3px 5px 14px #0CA5A3;
}       
.left_top{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.right_top{
    display: flex;
    justify-content: right;
    align-items: flex-start;
}
.left_mid{
    display: flex;
    justify-content: left;
    align-items: center;
}
.right_mid{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.left_bot{
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
.right_bot{
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
.center_mid{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.center_bot{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
h2{
    color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    text-shadow: 1px 1px 1px black
}
.a1{
    position:relative;
    color:#0CA5A3;
    border: #0CA5A3 solid 150%;
    background-color: #0CA5A3;
    box-shadow: 0px -1px 10px 14px #0CA5A3;
    font-weight: bold;
    font-size: xx-large;
}
.a2{
    position:relative;
    color:#52C5D9;
    border: #52C5D9 solid 120%;
    background-color: #52C5D9;
    box-shadow: 0px -1px 10px 14px #52C5D9;
    font-weight: bold;
    font-size: xx-large;
}
a:hover {
    color: rgb(148, 227, 238)
  }
